.myCalculator {
  display: grid;
  width: 35vw;
  height: 100vh;
  position: relative;
  margin: 5% 45% 0 35%;
  gap: 2px;
}

.Text {
  margin-top: 20px;
}

.special {
  background-color: #ff9500;
}

.calculatorScreen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #505050;
  color: whitesmoke;
  height: 5vh;
  font-size: 1.5rem;
  padding: 2px 2px;
  width: 94.2%;
  margin-left: 2.56%;
  margin-right: -4.8%;
}

/* grid buttons */

.calculatorButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 12px;
  grid-row-gap: 0.6px;
  grid-column-gap: 0.6px;
  width: 100%;
}

.calculatorButtons > button {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #d4d4d2;
  color: #000;
}

.number-span {
  grid-column: span 3;
}

.top-buttons {
  height: 40px;
}

.Navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  border: 1px solid whitesmoke;
  background-color: white;
  color: #000;
  margin-top: 5px;
}

.Navbar a {
  color: #000;
  text-decoration: none;
}

.Welcome-page {
  margin-top: 30px;
}

.introduction {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-weight: 500;
}

.Quotes {
  display: flex;
  margin-top: 20%;
  justify-content: center;
}

@media only screen and (max-width: 768%) {
  .myCalculator {
    width: 100%;
  }
}
